.add-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.add-btn:hover {
    background-color: #218838;
}

.btn {
    min-width: 60px;
    margin-right: 5px;
}

.error {
    color: #dc3545;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
    display: block;
}